*.iml
.gradle
/local.properties
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea/encodings.xml
/.idea/uiDesigner.xml

.DS_Store
/out
/build
/captures
.externalNativeBuild
.cxx
/nesp-gradle-plugin-javafx/gradle.properties
